
input[type=text], input[type=email], input[type=password] {
    width: 90%;
    padding: 15px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #eb7d21;
    box-sizing: border-box;
    background-color: white;
  }
  .login-container{
    padding: 10px 0;
    margin-top: 30px;
    border-radius: 8px;
    display: inline-block
 
  }
 .LoginButton{
  background-color: #eb7d21;
 }
  .modal-content button{
    background-color: #eb7d21;

  }
  .modal-content label{
    display: block;
    padding: 5px;
    color: black;
  }
  /* Set a style for all buttons */
  button {
    background-color: #eb7d21;
    opacity: 80%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-weight: 1500;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 90%;
  }
  
  button:hover {
    opacity: 0.7;
    background-color: #eb7d21;
  }
  
 
 
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
 
  /* Modal Content/Box */
  .modal-content {
    border: 1px solid #eb7d21;
    border-radius: 5px;
    margin: 1% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
    margin-top: 70px;
    box-shadow: 5px 2px #eb7d21;
    width: 35%; /* Could be more or less, depending on screen size */
  }
  

  .row1{
    
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    column-gap: 30px;
  }
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }


  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }


  .drop .select-loc{
    width: 90%;
    height: 40px;
    margin-top: 9px;
    color: #eb7d21;
    background-color: #e6e9ef;
    border : 1px solid #eb7d21;
  }
  .register-link a,.forgot-link a{
    color: #f18213;
    text-decoration: none;
  }
  .register-link a:hover,.forgot-link a:hover{
    font-weight: 500;
  }