.App {
  text-align: center;
  
  min-height: 100vh;
  
  justify-content: center;
  color: white;
  background-image: url(./Static/background-image.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}