.Booking-container
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px 0;
    border-radius: 8px;

  }
  .content{
    width: 100%;
    margin-top: 30px;
  }
  .modal-content button{
    background-color: #eb7d21;
    padding: "10px";
    margin: 5px 0;
    
  }
  .modal-content label{
    display: block;
    padding: 5px;
    color: black;
  }
  .drop .select-loc, .date , .drop .select-seat{
    width: 90%;
    height: 40px;
    margin-top: 9px;
    color: #eb7d21;
    background-color: #e6e9ef;
    border : 1px solid #eb7d21;
  }
/* Styles for SeatBookingComponent */
.seat-container{
  width: 95%;
  padding: 10px;
  margin:10px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #eb7d21;
  color: black;
  box-shadow: 5px 2px  #eb7d21;
  
}



.seat-container form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.seat-container label {
  margin-bottom: 15px;
  font-size: 18px;
}
.seat-container label span {
  color: red;
  font-size: 11px;
}

.seat-container form input[type="radio"] {
  margin-right: 15px;
}

.selected-seat {
  margin-top: 20px;
  font-size: 18px;
}

